.log-container {
    position: absolute;
    right: 2.5%;
    top: 8%;
    border: 1px solid #15BF81;
    padding-left: 16px;
    border-radius: 16px;
    padding: 8px;
}

.log-name {
    margin-right: 16px;
    color: #15BF81;
    font-weight: 500;
    font-size: 18px;
}

.logout-btn {
    box-shadow: none !important;
    background: #15BF81 !important;
    border-radius: 12px !important;
    color: #FFF !important;
    font-weight: 500;
    font-size: 18px;
    padding-left: 8px !important;
    
    div {
        display: none;
    }
}