@use "../../App" as config;

.createNewBuilding-container {
    text-indent: 40px;
    margin-top: 48px;
  
    .createNewBuilding-btn-back {
      display: inline-flex;
      vertical-align: middle;
    }
    .createNewBuilding-breadcrumbs {
      display: inline-flex;
      justify-content: flex-start;
      margin-left: 24px;
    }
    .MuiBreadcrumbs-li {
      margin-left: -24px;
      a {
        text-decoration: none;
        color: config.$sub-color;
        opacity: 40%;
        &:hover {
          opacity: 100%;
        }
      }
    }
  }

  #createNewBuilding-form-container {
    border: 4px solid config.$primary-color;
    border-radius: 16px;
    margin-left: 72px;
    margin-top: 40px;
    padding: 64px;
    width: 64vw;
    .createNewBuilding-create-building-container-side {
        display: inline-flex;
        flex-direction: row;
    }
    .createNewBuilding-create-building-container {
        margin-bottom: 48px;
        font-size: config.$font-size-text;
        .createNewBuilding-label {
            display: inline-table;
            width: 160px;
        }
        .createNewBuilding-select {
           width: 500px;
            border: 1px solid rgba(21, 191, 129, 0.5);
            font-size: config.$font-size-text;
            border-radius: 8px;
            height: 54px;
            fieldset {
              border: none;
            }
        }
        .createNewBuilding-input {
            width: 500px;
            border: 1px solid rgba(21, 191, 129, 0.5);
            padding: 16px 16px;
            font-size: config.$font-size-text;
            border-radius: 8px;
        }
        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            top: 0;
        }
        legend {
            display: none;
        }
      }
      .createNewBuilding-btn-container {
        display: inline-flex;
        justify-content: center;
        margin-top: 24px;
        .createNewBuilding-btn {
            width: 169px;
            height: 56px;
            margin-left: 24px;
            font-size: config.$font-size-text;
            border: none;
            border-radius: 20px;
            background-color: config.$primary-color;
            opacity: 80%;
            color: config.$secondary-color;
            font-weight: 500;
            letter-spacing: 0.04em;
            &:hover {
                opacity: 100%;
                cursor: pointer;
            }
            &:nth-child(2) {
                background-color: rgba(21, 191, 129, 0.5);
                &:hover {
                    opacity: 100%;
                    background-color: config.$primary-color;
                    cursor: pointer;
                }
            }
        }
      }
      
  }

  

  