@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary-color: #15BF81;
$secondary-color: #fff;
$sub-color: #000;
$font-primary: 'Roboto', sans-serif;
$font-size-header-big: 36px;
$font-size-text: 18px;

* {
    box-sizing: border-box;
    font-family: $font-primary;
}